﻿@{
    ViewBag.Title = "AfterLogIn";
}

<h2>AfterLogIn</h2>
<h1>AfterLogin</h1>
@if (Session["LogedUserFullname"] != null)
{
    <text>
        Welcome @Session["LogedUserFullname"].ToString()
    </text>
}