﻿@model IEnumerable<SystemLibBL.Book>

@{
    ViewBag.Title = "AdminLogin";
}

<h2>AdminLogin</h2>


<div class="headBar">

    <div>
        <p>Index</p>
        @if (ViewBag.showLoginPanel == true)
        {
            <form method="post" action="http://193.10.30.154/SSWD/User/LogIn">
                <input name="username" type="text" placeholder="Person ID" />
                <input name="password" type="password" placeholder="Password" />
                <input type="submit" value="Log in" />
            </form>

        }
        else
        {
            <p>Welcomme back dear @ViewBag.userName</p>
            @Html.ActionLink("Logout", "Logout");

        }
    </div>

    <div class="searchDiv">
        @using (Html.BeginForm("AdminSearch", "Menu", FormMethod.Get))
        {
            @Html.TextBox("SearchPhrase");
            <select name="dropList">
                <option value="Boo">Book Title</option>
                <option value="Auth">Author</option>
                <option value="Borrower">Borrower</option>
            </select>
            <input type="submit" value="Search!" />
        }
    </div>
</div>

<p>
    @Html.ActionLink("Create New Author", "Create")
    @Html.ActionLink("Manage Users", "ManageBorrowers");
</p>
<p>
    @Html.ActionLink("Create New Book", "CreateBook")
</p>
<p>
    @Html.ActionLink("Create New User", "CreateBorrower")
</p>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publicationYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publicationInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorLastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publicationYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publicationInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SignID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorLastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditBook", new { ISBN = item.ISBN}) |
            @Html.ActionLink("Details", "DetailsBook", new { ISBN = item.ISBN}) |
            @Html.ActionLink("Delete", "DeleteBook", new { ISBN = item.ISBN })
        </td>
    </tr>
}

</table>
