﻿@model IEnumerable<SystemLibBL.User>

@{
    ViewBag.Title = "AdminSearchBorrower";
}

<h2>AdminSearchBorrower</h2>

<p>
    @Html.ActionLink("Create New", "CreateBorrower")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Authorization)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PersonId)
        </td>
     
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Authorization)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditBorrower", new { personId = item.PersonId}) |
            @Html.ActionLink("Details", "DetailsBorrower", new { personId = item.PersonId }) |
            @Html.ActionLink("Delete", "DeleteBorrower", new { personId = item.PersonId })
        </td>
    </tr>
}

</table>
