﻿@model IEnumerable<SystemLibBL.Author>

@{
    ViewBag.Title = "AdminSearchAuthor";
}

<h2>AdminSearchAuthor</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.aid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthYear)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.aid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthYear)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.aid }) |
            @Html.ActionLink("Details", "Details", new { id = item.aid }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.aid })
        </td>
    </tr>
}

</table>
