﻿@model IEnumerable<SystemLibBL.Book>

@{
    ViewBag.Title = "BorrowerLogin";
}

<h2>BorrowerLogin</h2>
<div>
    @if (ViewBag.showLoginPanel == true)
    {
        <form method="post" action="http://193.10.30.154/SSWD/User/LogIn">
            <input name="username" type="text" placeholder="Person ID" />
            <input name="password" type="password" placeholder="Password" />
            <input type="submit" value="Log in" />
        </form>

    }
    else
    {
        <p>Welcomme back dear @ViewBag.userName</p>
        @Html.ActionLink("Logout", "Logout");

    }
</div>

<p>
    @Html.ActionLink("Currently borrowed books", "CurrentlyBorrowedBooks")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publicationYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publicationInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorLastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publicationYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publicationInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SignID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorLastName)
        </td>
        <td>
            @Html.ActionLink("Borrow", "BorrowBook", new { ISBN = item.ISBN }) 
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })*@ 
            @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
