﻿@model SystemLibBL.Book

@{
    ViewBag.Title = "BorrowBook";
}

<h2>BorrowBook</h2>

<h3>Do you want to borrow his book?</h3>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Book</legend>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.title)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.title)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.publicationYear)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.publicationYear)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.publicationInfo)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.publicationInfo)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.SignID)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.SignID)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.pages)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.pages)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.ISBN)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ISBN)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.AuthorFirstName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.AuthorFirstName)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.AuthorLastName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.AuthorLastName)
        </div>
        <p>
            <input type="submit" value="Borrow" />
        </p>
    </fieldset>
}
<p>
   @* @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
