﻿@model SystemLibBL.Book

@{
    ViewBag.Title = "CreateBook";
}

<h2>CreateBook</h2>
@if (ViewBag.ErrorMessage == "NoAuthor")
{
    <p>The entered Author does not exist</p>
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Book</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.publicationYear)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.publicationYear)
            @Html.ValidationMessageFor(model => model.publicationYear)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.publicationInfo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.publicationInfo)
            @Html.ValidationMessageFor(model => model.publicationInfo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SignID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SignID)
            @Html.ValidationMessageFor(model => model.SignID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.pages)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.pages)
            @Html.ValidationMessageFor(model => model.pages)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ISBN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ISBN)
            @Html.ValidationMessageFor(model => model.ISBN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AuthorFirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AuthorFirstName)
            @Html.ValidationMessageFor(model => model.AuthorFirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AuthorLastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AuthorLastName)
            @Html.ValidationMessageFor(model => model.AuthorLastName)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "AdminLogin")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
