﻿@model IEnumerable<SystemLibBL.Book>

@{
    ViewBag.Title = "CurrentlyBorrowedBooks";
}

<h2>CurrentlyBorrowedBooks</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publicationYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publicationInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorLastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publicationYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publicationInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SignID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorLastName)
        </td>
        <td>

            @Html.ActionLink("Renew Loan", "RenewLoan", new { ISBN = item.ISBN }) |
            @Html.ActionLink("Details", "Details", new { ISBN = item.ISBN }) 
            @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
