﻿@model SystemLibBL.Book

@{
    ViewBag.Title = "DeleteBook";
}

<h2>DeleteBook</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Book</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.publicationYear)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.publicationYear)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.publicationInfo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.publicationInfo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SignID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SignID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pages)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pages)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ISBN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ISBN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuthorFirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuthorFirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuthorLastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuthorLastName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "AdminLogin")
    </p>
}
