﻿@model SystemLibBL.User

@{
    ViewBag.Title = "DetailsBorrower";
}

<h2>DetailsBorrower</h2>

<p>
    @Html.ActionLink("Currently borrowed books", "AdminCurrentlyBorrowedBooks", new { personId = Model.PersonId })
</p>

<fieldset>
    <legend>User</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PersonId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PersonId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telno)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Salt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Salt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CategoryID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Authorization)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Authorization)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "EditBorrower", new { personId = Model.PersonId }) |
    @Html.ActionLink("Back to List", "AdminLogin")
</p>
