﻿@model SystemLibBL.User

@{
    ViewBag.Title = "EditBorrower";
}

<h2>EditBorrower</h2>

@using (Html.BeginForm("UpdateBorrower", "Menu")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PersonId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PersonId, new { htmlAttributes = new { disabled = "disabled", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.PersonId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telno)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telno)
            @Html.ValidationMessageFor(model => model.Telno)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryID)
        </div>
        @if (TempData["ErrorCategoryID"] == "ErrorCategoryID")
        {
            <p style="color:red"> Categoryid can only be between 1 and 4</p>
        }
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryID)
            @Html.ValidationMessageFor(model => model.CategoryID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Authorization)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Authorization)
            @Html.ValidationMessageFor(model => model.Authorization)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "AdminLogin")
</div>
