﻿@model IEnumerable<SystemLibBL.Book>
@{
    ViewBag.Title = "asdad";
}



<h1>gasvvdasd</h1>

@*<div>
    <form>
        <input type="text" value="inputPersonID" placeholder="Username" />
        <input type="password" value="inputPassword" placeholder="Password" />
        <input type="button" title="Login" />

    </form>

    <input type="text" value="searchText" placeholder="Search" />
    <input type="button" title="Press me!" />



</div>*@
<p>
    @Html.ActionLink("Create NewBook", "CreateBook")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publicationYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publicationInfo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SignID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publicationYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publicationInfo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ISBN }) |
                @Html.ActionLink("Details", "Details", new { id = item.ISBN }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>