﻿<html>
<head>
    <link href="~/StyleSheet.css" type="text/css" rel="stylesheet" />
    <title>Heavens Library</title>
</head>

<body>
    <div class="wrapper">
        @model IEnumerable<SystemLibBL.Author>

        @{
            ViewBag.Title = "Index";
        }

        <div class="headBar" height="200px" width="800px">

            <div>

                @if (ViewBag.showLoginPanel == true)
                {
                    <form method="post" action="http://193.10.30.154/SSWD/User/LogIn">
                        <input name="username" value="19931004-6975" type="text" placeholder="Person ID" />
                        <input name="password" type="password" value="password" placeholder="Password" />
                        <input type="submit" value="Log in" />
                    </form>

                }
                else
                {
                    @Html.ActionLink("Logout", "LogOut");
                    <p>Welcomme back dear @ViewBag.userName</p>

                }
            </div>

            <div class="searchDiv">
                @using (Html.BeginForm("Search", "Menu", FormMethod.Get))
                {
                    @Html.TextBox("SearchPhrase");
                    <select name="dropList">
                        <option value="Boo">Book Title</option>
                        <option value="Auth">Author</option>
                    </select>
                    <input type="submit" value="Search!" />
                }
            </div>
        </div>
        <div>
            @Html.ActionLink("Go to widget", "Widget", "Menu")
        </div>
        <div>
            @Html.ActionLink("Browse Books", "PublicBooks", "Menu")
            @Html.ActionLink("Browse Authors", "Index", "Menu")
        </div>
        <div class="searchResult">
            

                @{
                    ViewBag.Title = "Index";
                }

                <h2>Index</h2>
                <table>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.aid)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BirthYear)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.aid)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BirthYear)
                            </td>
                            <td>
                                @*@Html.ActionLink("Edit", "Edit", new { id = item.aid }) |*@

                                @Html.ActionLink("Details", "PublicAuthorDetails", new { id = item.aid }) @*|*@
                                @*@Html.ActionLink("Delete", "Delete", new { id = item.aid })*@
                            </td>
                        </tr>
                    }

                </table>
        </div>
    </div>



</body>
</html>