﻿<html>
<head>
    <link href="~/StyleSheet.css" type="text/css" rel="stylesheet" />
    <title>Heavens Library</title>
</head>

<body>
    <div class="wrapper">
        @model IEnumerable<SystemLibBL.Book>

        @{
            ViewBag.Title = "Books";
        }

        <div class="headBar" height="200px" width="800px">

            <div>

                @if (ViewBag.showLoginPanel == true)
                {
                    <form method="post" action="http://193.10.30.154/SSWD/User/LogIn">
                        <input name="username" type="text" placeholder="Person ID" />
                        <input name="password" type="password" placeholder="Password" />
                        <input type="submit" value="Log in" />
                    </form>

                }
                else
                {
                    @Html.ActionLink("Logout", "LogOut");
                    <p>Welcomme back dear @ViewBag.userName</p>

                }
            </div>
           
            <div class="searchDiv">
                @using (Html.BeginForm("Search", "Menu", FormMethod.Get))
                {
                    @Html.TextBox("SearchPhrase");
                    <select name="dropList">
                        <option value="Boo">Book Title</option>
                        <option value="Auth">Author</option>
                    </select>
                    <input type="submit" value="Search!" />
                }
            </div>
        </div>
        <div>
            @Html.ActionLink("Go to widget", "Widget", "Menu")
        </div>
        <div>
            @Html.ActionLink("Browse Books", "PublicBooks", "Menu")
            @Html.ActionLink("Browse Authors", "Index", "Menu")
        </div>

        <div class="searchResult">


            @{
                ViewBag.Title = "Books";
            }

            <h2>Index</h2>
            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.publicationYear)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.publicationInfo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SignID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.pages)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ISBN)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SignID)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.publicationYear)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.publicationInfo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SignID)
                        </td>
                        <th>
                            @Html.DisplayFor(model => item.pages)
                        </th>
                        <th>
                            @Html.DisplayFor(model => item.ISBN)
                        </th>
                        <th>
                            @Html.DisplayFor(model => item.SignID)
                        </th>
                        <td>
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.aid }) |*@

                            @Html.ActionLink("Details", "PublicDetailsBook", new { ISBN = item.ISBN }) @*|*@
                            @*@Html.ActionLink("Delete", "Delete", new { id = item.aid })*@
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>



</body>
</html>