﻿@model SystemLibBL.Author

@{
    ViewBag.Title = "PublicAuthorDetails";
}

<h2>PublicAuthorDetails</h2>

<fieldset>
    <legend>Author</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.aid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.aid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BirthYear)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BirthYear)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
