﻿@model SystemLibBL.Book

@{
    ViewBag.Title = "RenewLoan";
}

<h2>RenewLoan</h2>
<h3>Do you want to renew the loan of this book?</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset>
    <legend>Book</legend>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.title)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.title)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.publicationYear)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.publicationYear)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.publicationInfo)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.publicationInfo)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.SignID)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.SignID)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.pages)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.pages)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.ISBN)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ISBN)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.AuthorFirstName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.AuthorFirstName)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.AuthorLastName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.AuthorLastName)
        </div>
        <p>
            <input type="submit" value="Renew Loan" />
        </p>
    </fieldset>
}
    <p>
        @Html.ActionLink("Back to List", "CurrentlyBorrowedBooks")
    </p>
