﻿@model IEnumerable<SystemLibBL.Book>

@{
    ViewBag.Title = "Search";
}


<html>

<head>
    <link href="StyleSheet.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
 
        <div class="headBar">

            <div>
                @if (ViewBag.showLoginPanel == true)
                {
                    <form method="post" action="http://193.10.30.154/SSWD/User/LogIn">
                        <input name="username" type="text" placeholder="Person ID" />
                        <input name="password" type="password" placeholder="Password" />
                        <input type="submit" value="Log in" />
                    </form>
                }
                else
                {
                    <p>Welcomme back dear @ViewBag.userName</p>
              
                    @Html.ActionLink("LogOut", "LogOut");
                }
            </div>

            <div class="searchDiv">
                @using (Html.BeginForm("Search", "Menu", FormMethod.Get))
                {
                    @Html.TextBox("SearchPhrase");
                    <select name="dropList">
                        <option value="Boo">Book Title</option>
                        <option value="Auth">Author</option>
                    </select>
                    <input type="submit" value="Search!" />
                }
            </div>
        </div>

        <div class="searchResult">

            <h2>Search</h2>

            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.publicationYear)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.publicationInfo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SignID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.pages)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ISBN)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AuthorFirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AuthorLastName)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.publicationYear)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.publicationInfo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SignID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.pages)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ISBN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AuthorFirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AuthorLastName)
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                             @Html.ActionLink("Details", "DetailsBook", new { ISBN = item.ISBN }) 
                            @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>



</body>
</html>