﻿
<head>
    <link href="StyleSheet.css" type="text/css" rel="stylesheet" />
    <title>Heavens Library</title>
</head>

<body>
    <div class="wrapper">
        @model IEnumerable<SystemLibBL.Book>

        @{
            ViewBag.Title = "Index";
        }

        <div class="headBar">

            <div>
                <p>StartPage</p>
                @if (ViewBag.showLoginPanel == true)
                {
                    <form method="post" action="http://193.10.30.154/SSWD/User/LogIn">
                        <input name="username" type="text" placeholder="Person ID" />
                        <input name="password" type="password" placeholder="Password" />
                        <input type="submit" value="Log in" />
                    </form>
                }
                else
                {
                    <p>Welcomme back dear @ViewBag.userName</p>
                    <form method="get" action="http://193.10.30.154/SSWD/Menu/LogOut">
                        <input type="submit" value="Log out" />
                    </form>

                }
            </div>

            @*<form>
                    <input type="text" value="inputPersonID" placeholder="Username" />
                    <input type="password" value="inputPassword" placeholder="Password" />
                    <input type="button" value="Login" />

                </form>*@


            <div class="searchDiv">
                @using (Html.BeginForm("Search", "Menu", FormMethod.Get))
                {
                    @Html.TextBox("SearchPhrase");
                    <select name="dropList">
                        <option value="Boo">Book Title</option>
                        <option value="Auth">Author</option>
                    </select>
                    <input type="submit" value="Search!" />
                }
            </div>


        </div>

        <div class="searchResult">
            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.publicationYear)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.publicationInfo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SignID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.pages)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ISBN)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AuthorFirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AuthorLastName)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.publicationYear)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.publicationInfo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SignID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.pages)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ISBN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AuthorFirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AuthorLastName)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })

                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>



</body>
