﻿@{
    ViewBag.Title = "Widget";
}
<head>
    <script type="text/javascript" src="../JavaScript1.js"></script>

    <title>Ett sök Bibliotek</title>
</head>
<h2>Widget</h2>

<script type="text/javascript">

    function justDoIt() {
        var inputElem = document.getElementById('apiSearchText');
        var xhr = new XMLHttpRequest();
        xhr.onload = doThis;

        xhr.open('GET', 'http://193.10.30.154/SSWDapi/api/book?search=' + inputElem.value, true);
        xhr.send();


        function doThis() {
            var data = JSON.parse(xhr.responseText);
            var table = document.getElementById('theTableWhoChangedTheWorld');

            for (var i = 0; i < data.length; i++) {
                var row = table.insertRow(i);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                cell1.innerHTML = data[i].title;
                cell2.innerHTML = data[i].ISBN;

            }
            console.log(xhr.readyState)
            console.log("callback: ", xhr.responseText)
        }
    }

    //window.addEventListener('load', function () {
    //    var searchButton = document.getElementById('submitBtn');
    //    searchButton.addEventListener('click', function () {


    //    }, true)
    //}, true);



</script>





<form method="get">
    Search: <input type="text" name="apiSearchText" id="apiSearchText">
    <input type="submit" value="apiSearchButton" onclick="justDoIt()" id="submitBtn">
</form>

<table id="theTableWhoChangedTheWorld"></table>

